<!DOCTYPE html>
<html>
<head>
  <title>Scoutiste</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>




 <div class="container-fluid">
        <div class="text-center" id="cityintro1">Scoutiste</div>
        <div class="text-center" id="cityintro2">We filter local listings to show you only the best furniture and design.</div>
        <div class="text-center" id="cityintro3">Say goodbye to the endless searching and scrolling.</div>
        <div class="text-center" id="cityintro4">Say hello to your new addiction.</div>
  </div>

  
   <nav class="navbar navbar-header">
      <div class="btn-group">    
        <button type="button" class="btn btn-large dropdown-toggle" onClick="nanobar.go(70)" data-toggle="dropdown" aria-expanded="false">PICK YOUR LOCATION<span class="caret"></span>
        </button>
        
        <ul class="dropdown-menu center-text" role="menu">
          <% @city_array.each do |key|%>
            <li><a href="<%=city_path(key)%>"><%=key%></a></li>
          <%end%>
        </ul>
        <br>
        <br>

      </div>
   </nav>

      
  



 

  <br><br><br><br><br><br><br><br>

<script src="assets/nanobar.min.js"></script>
 <script>
      var nanobar = new Nanobar();
      nanobar.go(100);
      
    </script>
</body>
</html>