<!DOCTYPE html>
<html>
<head>
  <title>Scoutiste</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container-fluid">
      <div class="text-center" id="searchintro2">
        <a href="<%=home_index_path%>">Scoutiste></a>
        <a href="<%=city_path(params[:city])%>"> <%=params[:city]%> ></a>
          <%=@title%></div>

</div>

  
  

  <div id="container">
    <% @array.each do |listing| %>
       <div class="text-center masonryitem">
       
        <% if (listing['image'] != 0) %>
          <a href="<%=listing['url']%>" target="_blank"><img src="<%=listing['image']%>" ></a><br>
          <div class="text-center itemtext"><%=listing['title'][0..25]%>... - $<%=listing['price']%></div>
        <% end %>
       </div>
    <% end %>
  </div>
<script src="assets/nanobar.min.js"></script>
 <script>
      var nanobar = new Nanobar();
      nanobar.go(100);
      
 </script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-60593455-1', 'auto');
  ga('send', 'pageview', '/home/index.html');
</script> 
</body>
</html>